%h2= "Velkommen til Mannakorn.dk"

.row
  .col-xs-6
    %p= "Ideen  med  at  lave  mannakorn,  mannakort  og  skriftstedstavler  er,  at  jeg  gerne  vil  være  med  til  at  bringe  Guds  ord  til  dig. "
    %p= "Som  mannaen  i  40  år  holdt  liv  i  Israelitterne  mens  de  var  på  vandring  i  ørkenen,  og  indtil  de  stod  foran  det  forjættede  land,    sådan  er  Guds  ord  det,  der  holder  liv  i  os,  indtil  vi  står  foran  det  forjættede  land,  det  ny  Jerusalem!"
    %p= "Mannaen  skulle  samles  ind  hver  dag  og  spises  den  samme  dag,  ellers  blev  det  fyldt  med  maddiker  og  lugtede  fælt.   "
    %p= "Mannaen  skal  netop  minde  os  om,  at  Guds  Ord  på  ny  må  modtages  dagligt!"
    %p= "Også  Det  nye  Testamente  taler  om  Guds-brødet  fra  himmelen."
    %p= "Jesus  siger  i  Johannesevangeliet  kap.  6,  49-51:    Jeres  fædre  spiste  manna  i  ørkenen,  og  de  døde.  Men  det  brød,  som  kommer  ned  fra  himlen,  gør,  at  den,  der  spiser  af  det,  ikke  dør.  Jeg  er  det  levende  brød,  som  er  kommet  ned  fra  himlen;  den,  der  spiser  af  det  brød,  skal  leve  til  evig  tid.  Og  det  brød,  jeg  vil  give,  er  mit  kød,  som  gives  til  liv  for  verden."
    %p=" Med  dette  opfordres  du  til  at  smage  livets  brød!"
    %p= " M.v.h.  Jørn  Steengaard"
  .col-xs-6
    = image_tag("bible.png")
