.shadow_background
.confirmation_box
  = simple_form_for :user, :url => url_for(:action => 'create', :controller => 'users'), :method => 'post' do |field|
    .headline
      %h3= "Godkend"
    .content
      %h4= "Indtast din oplysningerne nedenfor, og tryk godkend."
      %p= "Når du har indtastet dine oplysninger, og trykket godkend vil der blive sendt en faktura til dig. Når denne denne er betalt vil varene blive sent"
      .row
        = field.input :order_id, as: :hidden, input_html: { value: params[:id] }
        .col-xs-6
          = field.input :name
        .col-xs-6
          = field.input :address
      .row
        .col-xs-6
          = field.input :email
        .col-xs-6
          = field.input :city
      .row
        .col-xs-6
          = field.input :zip_code


      %h4= "Du har valgt følgende emner: "
      %table
        %head
        %tr
          %th
            = "Emne"
          %th
            = "Beskrivelse"
          %th
            = "Antal"
          %th.price
            = "Pris"
        %body
          - @order.products.each_with_index do |product, index|
            %tr
              %td
                = product.name
              %td
                = product.description
              %td
                = OrdersProduct.find_by(product_id: product.id, order_id: @order.id).count
              %td.price
                = product.price
          %hr
      %hr
      .row
        .col-xs-12
          .pull-right
            = "I alt kr. " + @order.acc_price.to_s + ",-"
      %hr
      .row
        .col-xs-12
          = field.button :button do
            = "Godkend"




:coffeescript
  $ ->
    $('.shadow_background').hide()
    $('.confirmation_box').hide()

  $('.to_checkout').click ->
    $('.shadow_background').show()
    $('.confirmation_box').show()

  $('.shadow_background').click ->
    $('.shadow_background').hide()
    $('.confirmation_box').hide()


