.row
  .col-xs-12
    %h2= "Redigér produkt"
= simple_form_for @product do |f|
  .col-xs-10
    .row
      .col-xs-6
        = f.input :name
      .col-xs-6
        = f.input :description
    .row
      .col-xs-6
        = f.input :price
      .col-xs-6
        = f.input :html_class
    .row
      .col-xs-6
        = f.input :image_ref
      .col-xs-6
        = f.input :product_type, as: :select, collection: Product.collection
    .row
      .col-xs-6
        = f.input :image, type: "file"
  .col-xs-2
    %h4= "Billede"
    = image_tag @product.image.url
  .row
    .col-xs-12
      .pull-right
        = f.submit "Opdatér produkt"

