%nav.navbar.navbar-default.navbar-inverse.navbar-static-top{:role => "navigation"}
  #navfluid.container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#navigationbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} Mannakorn.dk
    #navigationbar.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li{ class: params['product_type'].to_i == Product::OTHER ? "active" : ""}
          = link_to products_path(product_type: Product::OTHER) do
            = "Mannakorn"
        %li{ class: params['product_type'].to_i == Product::WALL15x15 ? "active" : ""}
          = link_to products_path(product_type: Product::WALL15x15) do
            = "Vers på væggen 15x15"
        %li{ class: params['product_type'].to_i == Product::WALL20x20 ? "active" : ""}
          = link_to products_path(product_type: Product::WALL20x20) do
            = "Vers på væggen 20x20"
            %span.sr-only (current)
        %li{ class: params['product_type'].to_i == Product::WALL20x42 ? "active" : ""}
          = link_to products_path(product_type: Product::WALL20x42) do
            = "Vers på væggen 20x42"
        -#%li
        -#  = link_to more_path do
        -#    = "Mere"
        -#%li
        -#  = link_to more_path do
        -#    = "Kontakt"
        %li{ class: params['product_type'].present? ? "" : "active"}
          = link_to orders_path, class: "cart" do
            .badge.cart_badge= "0"
            %span.fa.fa-shopping-cart
    / /.navbar-collapse
  / /.container-fluid

